kestra/ai-health-check.yml
id: ai-health-check
namespace: devops.monitor

# ─── How this flow works ──────────────────────────────────────────────────────
#
#  1. health_check  — plain http.Request with no allowFailed.
#                     If the endpoint returns non-200 the task FAILS and
#                     Kestra immediately jumps to the errors block.
#
#  2. errors block  — only runs when the flow fails:
#       ai_diagnosis — AI Agent explains what likely went wrong
#       slack_alert  — sends the AI diagnosis to Slack
#
#  Why errors block instead of If condition?
#  The Kestra alerting docs recommend errors block for notification tasks.
#  It fires automatically on any task failure — no string matching needed.
#
# ─────────────────────────────────────────────────────────────────────────────

inputs:
  - id: aws_host
    type: STRING
    description: "Public IP of the AWS EC2 instance (terraform output aws_ec2_public_ip)"

triggers:
  - id: every_2_minutes
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "*/2 * * * *"
    inputs:
      aws_host: "REPLACE_WITH_AWS_IP"  # paste: terraform output aws_ec2_public_ip

tasks:
  # ── Step 1: Health check — fails naturally on non-200 ─────────────────────
  - id: health_check
    type: io.kestra.plugin.core.http.Request
    uri: "http://{{ inputs.aws_host }}:5000/health"
    method: GET
    # No allowFailed → Kestra marks the task FAILED on non-2xx and
    # skips remaining tasks, jumping straight to the errors block.

# ─── errors block — fires when health_check fails ─────────────────────────────
errors:
  # AI Agent provides the incident diagnosis
  - id: ai_diagnosis
    type: io.kestra.plugin.ai.agent.AIAgent
    systemMessage: |
      You are an SRE. The Flask application health check has just failed on AWS EC2.
      Provide a concise incident report in 2 lines maximum:
      Line 1: What is likely wrong (e.g. process crashed, port not listening, OOM)
      Line 2: The single most important remediation step right now
    prompt: |
      The Flask app at {{ inputs.aws_host }}:5000 failed its health check.
      Diagnose the most likely cause and provide an immediate remediation step.

  # Send Slack alert with the AI diagnosis
  - id: slack_alert
    type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
    url: "{{ secret('SLACK_WEBHOOK') }}"
    payload: |
      {
        "text": "🔴 *Flask App is DOWN (AWS EC2)*\n{{ outputs.ai_diagnosis.outputText }}"
      }

# ─── Provider config (applied to all AIAgent tasks in this flow) ─────────────
#
#  The provider MUST support function/tool calling.
#  Supported: OpenAI GPT-4o/GPT-4o-mini, Google Gemini 1.5+, Anthropic Claude 3+
#
#  Set ONE of the secrets below in Kestra and uncomment the matching block.
# ─────────────────────────────────────────────────────────────────────────────
pluginDefaults:
  - type: io.kestra.plugin.ai.agent.AIAgent
    values:
      provider:
        type: io.kestra.plugin.ai.provider.OpenAI
        apiKey: "{{ secret('OPENAI_API_KEY') }}"
        modelName: gpt-4o-mini

      # ── Google Gemini alternative ──────────────────────────────────────────
      # provider:
      #   type: io.kestra.plugin.ai.provider.GoogleGemini
      #   apiKey: "{{ secret('GEMINI_API_KEY') }}"
      #   modelName: gemini-2.5-flash

      # ── Anthropic Claude alternative ───────────────────────────────────────
      # provider:
      #   type: io.kestra.plugin.ai.provider.Anthropic
      #   apiKey: "{{ secret('ANTHROPIC_API_KEY') }}"
      #   modelName: claude-opus-4-6
