kestra/ai-log-monitor.yml
id: ai-log-monitor
namespace: devops.monitor

# ─── Flow Inputs ──────────────────────────────────────────────────────────────
inputs:
  - id: aws_host
    type: STRING
    description: "Public IP of the AWS EC2 instance (from terraform output aws_ec2_public_ip)"

triggers:
  - id: every_2_minutes
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "*/2 * * * *"
    inputs:
      aws_host: "REPLACE_WITH_AWS_IP"  # paste: terraform output aws_ec2_public_ip

tasks:
  # 1. Check if the AWS app is up
  - id: health_check_aws
    type: io.kestra.plugin.core.http.Request
    uri: "http://{{ inputs.aws_host }}:5000/health"
    method: GET
    options:
      allowFailed: true

  # 2. Hit the main endpoint to generate real traffic (fails ~30% of the time)
  - id: ping_api_aws
    type: io.kestra.plugin.core.http.Request
    uri: "http://{{ inputs.aws_host }}:5000/api/data"
    method: GET
    options:
      allowFailed: true

  # 3. Query ErrorCount metric from CloudWatch (namespace: FlaskApp/Logs)
  #
  #    This metric is driven by a CloudWatch Metric Filter on the log group
  #    /flask-app/ec2/app-logs that increments by 1 for every [ERROR] line.
  #    Requires Kestra secrets:
  #      AWS_ACCESS_KEY_ID     — IAM user with CloudWatchReadOnlyAccess
  #      AWS_SECRET_ACCESS_KEY
  - id: query_error_count
    type: io.kestra.plugin.aws.cloudwatch.Query
    accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID') }}"
    secretKeyId: "{{ secret('AWS_SECRET_ACCESS_KEY') }}"
    region: eu-central-1
    namespace: FlaskApp/Logs
    metricName: ErrorCount
    statistic: Sum
    periodSeconds: 120
    window: PT2M

  # 4. Query WarningCount metric from CloudWatch (namespace: FlaskApp/Logs)
  #
  #    Driven by a Metric Filter that increments by 1 for every [WARNING] line.
  - id: query_warning_count
    type: io.kestra.plugin.aws.cloudwatch.Query
    accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID') }}"
    secretKeyId: "{{ secret('AWS_SECRET_ACCESS_KEY') }}"
    region: eu-central-1
    namespace: FlaskApp/Logs
    metricName: WarningCount
    statistic: Sum
    periodSeconds: 120
    window: PT2M

  # 5. AI Agent analyses health status + CloudWatch metrics
  - id: ai_diagnosis
    type: io.kestra.plugin.ai.agent.AIAgent
    systemMessage: |
      You are an expert SRE monitoring an AWS EC2 Flask application.
      You receive HTTP health status and CloudWatch metrics derived from the app logs.
      Your job:
      1. Determine overall severity: OK / WARNING / CRITICAL
      2. Identify the root cause in plain English (1 sentence)
      3. Give one specific fix the developer should do right now
      Keep your response under 6 lines. Be direct.
    prompt: |
      === AWS EC2 (last 2 minutes) ===
      Health endpoint status : {{ outputs.health_check_aws.code }}
      API endpoint status    : {{ outputs.ping_api_aws.code }}
      ERROR  log lines count : {{ outputs.query_error_count.series | jq('[.[].value] | add // 0') }}
      WARNING log lines count: {{ outputs.query_warning_count.series | jq('[.[].value] | add // 0') }}

  # 6. Alert on Slack when errors are detected or endpoints are down
  - id: alert_if_broken
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.ping_api_aws.code != 200 or outputs.health_check_aws.code != 200 or outputs.query_error_count.count > 0 }}"
    then:
      - id: slack_alert
        type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
        url: "{{ secret('SLACK_WEBHOOK') }}"
        payload: |
          {
            "text": "🔴 *AI Incident Report (AWS)*\n{{ outputs.ai_diagnosis.outputText }}"
          }
