kestra/ai-log-monitor.yml
id: ai-log-monitor
namespace: devops.monitor

# ─── Flow Inputs ──────────────────────────────────────────────────────────────
inputs:
  - id: aws_host
    type: STRING
    description: "Public IP of the AWS EC2 instance (from terraform output aws_ec2_public_ip)"

  - id: aws_instance_id
    type: STRING
    description: "EC2 instance ID — used as the CloudWatch log stream name (from terraform output aws_cloudwatch_log_stream)"

triggers:
  - id: every_2_minutes
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "*/2 * * * *"
    inputs:
      aws_host: "REPLACE_WITH_AWS_IP"           # paste: terraform output aws_ec2_public_ip
      aws_instance_id: "REPLACE_WITH_INSTANCE_ID" # paste: terraform output aws_cloudwatch_log_stream

tasks:
  # 1. Check if the AWS app is up
  - id: health_check_aws
    type: io.kestra.plugin.core.http.Request
    uri: "http://{{ inputs.aws_host }}:5000/health"
    method: GET
    options:
      allowFailed: true

  # 2. Hit the main endpoint to generate real traffic (fails ~30% of the time)
  - id: ping_api_aws
    type: io.kestra.plugin.core.http.Request
    uri: "http://{{ inputs.aws_host }}:5000/api/data"
    method: GET
    options:
      allowFailed: true

  # 3. Pull the last 50 log events from CloudWatch
  #
  #    WHY CloudWatch and not the /logs HTTP endpoint?
  #    ─────────────────────────────────────────────────────────────────────────
  #    The /logs endpoint reads from the local filesystem on the VM.
  #    CloudWatch is the authoritative, durable log store — decoupled from
  #    the VM lifecycle. If the VM is unhealthy or restarted, CloudWatch
  #    still has the full log history.
  #    ─────────────────────────────────────────────────────────────────────────
  #
  #    Requires Kestra secrets:
  #      AWS_ACCESS_KEY_ID     — IAM user with CloudWatchLogsReadOnlyAccess
  #      AWS_SECRET_ACCESS_KEY
  - id: read_logs_aws
    type: io.kestra.plugin.aws.cloudwatch.logs.GetLogEvents
    accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID') }}"
    secretKeyId: "{{ secret('AWS_SECRET_ACCESS_KEY') }}"
    region: eu-central-1
    logGroupName: /flask-app/ec2/app-logs
    logStreamName: "{{ inputs.aws_instance_id }}"
    limit: 50

  # 4. AI Agent analyses the health + CloudWatch logs
  - id: ai_diagnosis
    type: io.kestra.plugin.ai.agent.AIAgent
    systemMessage: |
      You are an expert SRE monitoring an AWS EC2 Flask application.
      You receive the HTTP health status and the last 50 log lines from CloudWatch.
      Your job:
      1. Determine overall severity: OK / WARNING / CRITICAL
      2. Identify the root cause in plain English (1 sentence)
      3. Give one specific fix the developer should do right now
      Keep your response under 6 lines. Be direct.
    prompt: |
      === AWS EC2 ===
      Health endpoint status : {{ outputs.health_check_aws.code }}
      API endpoint status    : {{ outputs.ping_api_aws.code }}

      Recent logs (CloudWatch /flask-app/ec2/app-logs):
      {{ outputs.read_logs_aws.events | jq('[.[].message] | join("\n")') }}

  # 5. Alert on Slack only when something is wrong
  - id: alert_if_broken
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.ping_api_aws.code != 200 or outputs.health_check_aws.code != 200 }}"
    then:
      - id: slack_alert
        type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
        url: "{{ secret('SLACK_WEBHOOK') }}"
        payload: |
          {
            "text": "🔴 *AI Incident Report (AWS)*\n{{ outputs.ai_diagnosis.outputText }}"
          }
